.HeaderA {
  height: 3.5rem;
  width: 100%;
  border-bottom: 2px solid var(--color-light-a);
}

.Marger {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.HeaderA div {
  height: 100%;
  display: flex;
  align-items: center;
}

.LogoContainer {
  padding: 0.5rem 1rem;
}

.Nav {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  padding: 0.5rem;
}

.Nav a,
.Nav li,
.Nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 100%;
}

.Nav li {
  padding: 0 0.5rem;
}

.MenuContainer {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
.MenuContainer:focus {
  outline: none;
  border: none;
}
.MenuBox {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  color: var(--color-orange);
  transition: all 500ms linear;
}

.MenuContainer:hover .MenuBox,
.MenuContainer:focus .MenuBox {
  background-color: var(--color-light-a);
}
.MenuContainer:hover .NavB,
.MenuContainer:focus .NavB {
  visibility: visible;
  opacity: 1;
}

.NavB {
  position: absolute;
  top: 3.25rem;
  right: 0;
  display: flex;
  padding: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms linear;
  z-index: 10;
}

.NavB ul {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem;
  background-color: var(--color-light-a);
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  position: relative;
  align-items: flex-start;
}
.NavB ul::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  right: 0.75rem;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--color-light-a) transparent;
}
.NavB li {
  padding: 0.25rem 0;
}

.NavB a {
  height: 3rem;
  display: flex;
  align-items: center;
}

.ProfilePictureContainer {
  padding: 0.5rem;
  position: relative;
  z-index: 9;
}

.ProfilePictureBox {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-light-a);
  padding: 0.25rem;
  cursor: pointer;
}
.ProfilePictureContainer:hover .NavB,
.ProfilePictureContainer:focus .NavB {
  visibility: visible;
  opacity: 1;
}

.ProfilePictureBox .Image {
  border-radius: 50%;
}
