.LinkLogo {
  color: white;
}
.LinkLogo :hover {
  color: hsl(210, 45%, 80%);
  animation: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes blink {
  0%,
  100% {
    color: white;
  }
  50% {
    color: hsl(210, 45%, 80%);
  }
}
