.LinkLogo {
  color: white;
}
.LinkLogo :hover {
  color: hsl(210, 45%, 80%);
  animation: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.LinkB {
  background-color: transparent;
  color: var(--color-green);
  display: flex;
  cursor: pointer;
  border: none;
  outline: none;
}
.LinkB:hover,
.LinkB:focus {
  color: var(--color-green-light);
}

@keyframes blink {
  0%,
  100% {
    color: hsl(210, 45%, 90%);
  }
  50% {
    color: hsl(210, 45%, 80%);
  }
}
