/*#region */
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth.ttf");
}
@font-face {
  font-family: OpenSansLight;
  src: url("../fonts/OpenSans/static/OpenSans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url("../fonts/OpenSans/static/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/OpenSans/static/OpenSans/OpenSans-Bold.ttf");
}
/*#endregion */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: OpenSans, "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 100%;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  font-family: inherit;
}
input {
  font-size: inherit;
}
input::placeholder {
  color: var(--color-light-b);
  font-size: 0.9rem;
}

nav li {
  list-style-type: none;
}

#body {
  --color-bg: hsl(210, 43%, 27%);
  --color-light-a: hsl(210, 43%, 35%);
  --color-light-b: hsl(210, 43%, 65%);
  --color-light-c: hsl(210, 43%, 90%);
  --color-light-d: hsl(210, 43%, 95%);
  --color-light-orange: hsl(32, 100%, 70%);
  --color-orange: hsl(39, 100%, 50%);
  --color-green: hsl(120, 100%, 70%);
  --color-light-a-t: hsl(210, 43%, 35%, 0.4);
  --color-dark-a: hsl(210, 50%, 24%);
  --color-green-t: hsla(162, 100%, 32%, 0.1);

  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-light-c);
  font-size: 1rem;
}

.content-width {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.box-width {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: inherit;
  /* word-spacing: 0.2rem; */
}

.btn-major {
  padding: 0.3rem 1rem;
  background-image: linear-gradient(
    to right,
    hsl(345, 72%, 65%),
    hsl(325, 55%, 58%)
  );
  border-radius: 0.25rem;
  color: white;
  border: none;
  outline: none;
}
.btn-major:hover,
.btn-major:focus {
  background-image: linear-gradient(
    to right,
    hsl(207, 52%, 65%),
    hsl(207, 52%, 56%)
  );
  border: none;
  outline: none;
}

.pointer {
  cursor: pointer;
}

.t-bold {
  font-family: OpenSansBold, "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.t-sbold {
  font-family: OpenSansSemiBold, "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.t-sbold-x {
  font-family: OpenSansSemiBold, "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.95rem;
}

.t-green {
  color: var(--color-green);
}
