.QuizSearchForm .InputContainer {
  display: flex;
  flex-direction: column;
}
.QuizSearchForm .InputBox {
  display: flex;
}
.QuizSearchForm .InputBox input {
  display: flex;
  max-width: 420px;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-light-a);
  font-size: inherit;
  font-family: inherit;
  color: var(--color-light-b);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 200ms linear;
}
.QuizSearchForm .InputBox input:focus {
  outline: none;
  border: 2px solid var(--color-light-b);
  color: currentColor;
}
.QuizSearchForm .InputBox input:hover {
  color: currentColor;
  border: 2px solid var(--color-light-b);
}
