.QuizSearchForm .InputContainer {
  display: flex;
  flex-direction: column;
}
.QuizSearchForm .InputBox {
  display: flex;
}
.QuizSearchForm .InputBox input {
  display: flex;
  max-width: 420px;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-light-a);
  font-size: inherit;
  font-family: inherit;
  color: var(--color-light-b);
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  transition: all 200ms linear;
}
.QuizSearchForm .InputBox input:focus {
  outline: none;
  border: 2px solid var(--color-light-b);
  color: currentColor;
}
.QuizSearchForm .InputBox input:hover {
  color: currentColor;
  border: 2px solid var(--color-light-b);
}
.QuizSearchForm .Selection {
  display: flex;
  padding: 0.5rem 0 0;
  align-items: flex-start;
  flex-wrap: wrap;
}
.QuizSearchForm .Selection .Options {
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--color-light-a);
  cursor: pointer;
  margin: 0 1rem 0.5rem 0;
  font-size: 0.9rem;
  transition: all linear 200ms;
  word-break: keep-all;
  white-space: nowrap;
}
.QuizSearchForm .Selection .Options:hover {
  background-color: var(--color-light-a-t);
}
.QuizSearchForm .Selection .Options.Selected {
  background-color: var(--color-light-a);
  color: var(--color-green);
}

/* --------- SIGNIN FORM ------------ */

.SignInForm legend {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.InputContainer,
.TextAreaContainer {
  display: flex;
  flex-direction: column;
}
.InputBox,
.TextAreaBox {
  display: flex;
  position: relative;
  align-items: center;
}
.InputBox input,
.TextAreaBox textarea {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-light-a);
  font-size: inherit;
  font-family: inherit;
  color: var(--color-light-b);
  border-radius: 0.5rem;
  padding: 0.3rem 0.75rem;
  /* textarea specific */
  resize: none;
  /* */
  transition: all 200ms linear;
}
.InputBox input:focus,
.TextAreaBox textarea:focus {
  outline: none;
  border: 2px solid var(--color-light-b);
  color: currentColor;
}
.InputBox input:hover,
.TextAreaBox textarea:hover {
  color: currentColor;
  border: 2px solid var(--color-light-b);
}
.InputBox .EyeIconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: var(--color-light-b);
  transition: all 200ms linear;
}
.InputBox .EyeIconBox:hover {
  color: var(--color-light-c);
}
.SignInForm .Link {
  color: var(--color-light-b);
  font-size: 0.9rem;
  padding: 0.25rem 0 0.125rem;
  display: inline-block;
  justify-content: flex-start;
  border-bottom: 1px dashed transparent;
  transition: all 200ms linear;
}
.SignInForm .Link:hover {
  color: var(--color-light-c);
  border-bottom: 1px dashed currentColor;
}
